// SECTION :: START

.graph__wrapper-header
	div
		a.graph__arrow(href="#" class="" title="")
			i.icon-font.icon-resize-width

	div
		ul.graph__tabs
			li.graph__tabs-item
				a.graph__tabs-btn(href="#" class="" title="")
			li.graph__tabs-item
				a.graph__tabs-btn.is-active(href="#" class="" title="")
			li.graph__tabs-item
				a.graph__tabs-btn(href="#" class="" title="")

	div

		a.graph__logo(href="#" class="" title="")
			img(src="/img/logo-ccm.svg" alt="" title="")

// SECTION :: END
