// SECTION detail :: START

.detail {
	.graph {
		&__wrapper-body {
			@media screen and (max-width: 767px){
				//height: auto;
			}
			@media screen and (max-width: 812px) and (orientation: landscape) {
				//height: auto;
			}
		}
		&__info {
			&-block--wrapper {
				min-height: 100%;
			}

			&-col {
				margin-bottom: 10px;
				max-width: 100%;

				&:last-of-type {
					margin-bottom: 30px;
				}
			}
			&-logo {
				@media screen and (max-width: 767px) and (orientation: portrait) {
					position: static;
					padding-top: 30px;
				}
			}
		}

		&__wrapper {
			&-body {
				&--left {
					> div {
						&:nth-of-type(2) {
							.graph__wrapper-body--top {
								display: flex;
								align-items: center;
								height: 80px;
								padding-bottom: 0;
								@media screen and (max-width: 812px) and (orientation: landscape) {
									height: 40px;
								}
							}
							.graph__wrapper-body--middle {
								height: calc(100% - (80px + 170px));
								@include adaptive(1199) {
									height: calc(100% - (80px + 150px));
								}
								@include adaptive(1023) {
									height: calc(100% - (80px + 120px));
								}
								@include adaptive(767) {
									height: calc(100% - (80px + 110px));
									min-height: 500px;
								}
								@include adaptive(575) {
									min-height: 300px;
								}
								@media screen and (max-height: 720px) {
									min-height: 300px;
								}
								@media screen and (max-width: 812px) and (orientation: landscape) {
									height: calc(100% - (40px + 90px));
									min-height: calc(100% - (40px + 90px));
								}
								@media screen and (max-width: 568px) and (orientation: landscape) {
									height: calc(100% - (40px + 90px));
									min-height: calc(100% - (40px + 90px));
								}
							}
							.graph__wrapper-body--bottom {
								display: flex;
								flex-direction: column;
								height: 170px;
								@include adaptive(1199) {
									height: 150px;
								}
								@include adaptive(1023) {
									height: 120px;
								}
								@include adaptive(767) {
									height: 110px;
								}
								@media screen and (max-width: 812px) and (orientation: landscape) {
									height: 90px;
								}
							}
						}
					}
				}
			}
		}
	}

	&__title {
		display: flex;
		align-items: center;
		color: #ffffff;

		&-zero {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 40px;
			height: 40px;
			border-radius: 100%;
			background-color: #6666ff;
			@include adaptive(1199) {
				width: 30px;
				height: 30px;
			}
			@include adaptive(1023) {
				width: 25px;
				height: 25px;
			}

			span {
				position: relative;
				line-height: 40px;
				color: #000000;
				font-size: 36px;
				font-weight: bold;
				@include adaptive(1199) {
					font-size: 28px;
				}
				@include adaptive(1023) {
					font-size: 24px;
				}

				&:after {
					content: '';
					position: absolute;
					top: 17px;
					left: -5px;
					width: calc(100% + 10px);
					height: 5px;
					background-color: #000000;
					transform: rotate(-45deg);
					@include adaptive(1199) {
						left: -3px;
						width: calc(100% + 6px);
					}
				}
			}
		}

		&-text {
			padding-left: 10px;
			font-size: 50px;
			line-height: 1;
			letter-spacing: -1.9px;
			font-weight: 500;
			@include adaptive(1199) {
				font-size: 45px;
			}
			@include adaptive(1023) {
				font-size: 30px;
			}
			@include adaptive(575) {
				font-size: 25px;
			}
		}

		sub {
			position: relative;
			top: -2px;
			padding-left: 5px;
			font-size: 18px;
			@include adaptive(1199) {
				font-size: 16px;
			}
			@include adaptive(767) {
				font-size: 14px;
			}
		}
	}

	&__btn {
		display: flex;
		position: relative;
		width: 60px;
		height: 60px;
		background-color: #6666ff;
		@include transition(background-color);
		@include adaptive(1199) {
			width: 50px;
			height: 50px;
		}
		@include adaptive(1023) {
			width: 40px;
			height: 40px;
		}
		@include adaptive(575) {
			width: 30px;
			height: 30px;
		}

		&:hover {
			background-color: rgba(#ffffff, 0.75);
			@include transition(background-color);
		}

		&.is-active {
			background-color: #ffffff;
		}

		&--arrow {
			i {
				&:nth-of-type(1),
				&:nth-of-type(2) {
					position: absolute;
				}

				&:nth-of-type(1) {
					bottom: 7px;
					left: 0;
					transform: rotate(-90deg);
					@include adaptive(767) {
						bottom: 4px;
					}
					@include adaptive(575) {
						//bottom: 1px;
						left: -1px;
					}
				}
				&:nth-of-type(2) {
					top: 7px;
					right: 0;
					transform: rotate(90deg);
					@include adaptive(767) {
						top: 4px;
					}
					@include adaptive(575) {
						//top: px;
						right: -1px;
					}
				}
			}
		}
		&--zero {
			align-items: center;
			justify-content: center;

			span {
				position: relative;
				padding-left: 5px;
				padding-right: 5px;
				line-height: 1;
				color: #000000;
				font-size: 50px;
				font-weight: bold;
				@include adaptive(1199) {
					font-size: 45px;
				}
				@include adaptive(1023) {
					font-size: 40px;
					padding-left: 4px;
					padding-right: 4px;
				}
				@include adaptive(575) {
					font-size: 30px;
				}

				&:after {
					content: '';
					position: absolute;
					top: 50%;
					left: 0;
					transform: translateY(-50%) rotate(-45deg);
					width: 100%;
					height: 6px;
					background-color: #000000;
				}
			}
		}

		&-wrapper {
			display: flex;
			justify-content: space-between;
			padding-top: 30px;
			@include adaptive(1023) {
				padding-top: 15px;
			}
			@include adaptive(767) {
				padding-top: 10px;
			}
			@media screen and (max-width: 812px) and (orientation: landscape) {
				padding-top: 10px;
			}
			@media screen and (max-width: 568px) and (orientation: landscape) {
				padding-top: 5px;
			}

			> div {
				width: 100%;
				max-width: calc((100% - (30px * 4)) / 5);
				@include adaptive(1023) {
					max-width: calc((100% - (15px * 4)) / 5);
				}
				@include adaptive(767) {
					max-width: calc((100% - (10px * 4)) / 5);
				}
				@include adaptive(575) {
					max-width: calc((100% - (5px * 4)) / 5);
				}
			}
		}

		.icon-font {
			line-height: 1;
			color: #000;
			font-size: 25px;
			@include adaptive(1199) {
				font-size: 22px;
			}
			@include adaptive(1023) {
				font-size: 20px;
			}
			@include adaptive(767) {
				font-size: 16px;
			}
			@include adaptive(575) {
				font-size: 14px;
			}
		}
	}

	&__info {
		&-2 {
			display: flex;
			justify-content: flex-end;
		}

		&-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding-left: 54px;
			width: 100%;
			min-height: 100%;
			@include adaptive(1279) {
				padding-left: 0;
			}
		}

		&-name {
			display: flex;
			align-items: center;
			font-weight: 500;
			line-height: 1.05;
			letter-spacing: -2.5px;
			color: #ffffff;
			font-size: 40px;
			padding-bottom: 30px;
			@include adaptive(1199) {
				font-size: 36px;
			}
			@include adaptive(767) {
				padding-bottom: 15px;
			}
			@include adaptive(575) {
				font-size: 32px;
			}
			@media screen and (max-height: 863px) {
				font-size: 28px;
			}
			@media screen and (max-height: 720px) {
				font-size: 24px;
			}
			@media screen and (max-width: 812px) and (orientation: landscape) {
				font-size: 16px;
				letter-spacing: -1px;
			}
			@media screen and (max-width: 568px) and (orientation: landscape) {
				font-size: 12px;
			}

			.icon-font {
				margin-left: 8px;
				margin-right: 5px;
				font-size: 26px;
				transform: scale(-1);
				@include adaptive(767) {
					font-size: 22px;
				}
				@include adaptive(575) {
					font-size: 18px;
				}
				@media screen and (max-height: 720px) {
					font-size: 16px;
				}
				@media screen and (max-width: 812px) and (orientation: landscape) {
					font-size: 12px;
				}
				@media screen and (max-width: 568px) and (orientation: landscape) {
					font-size: 10px;
				}
			}
		}

		&-desc {
			display: flex;
			flex-direction: column;
			padding-bottom: 60px;
			@include adaptive(767) {
				padding-bottom: 30px;
			}

			span {
				display: flex;
				align-items: center;
				font-weight: 500;
				line-height: 1.05;
				letter-spacing: -2.5px;
				color: #ffffff;
				font-size: 35px;
				@include adaptive(1199) {
					font-size: 32px;
				}
				@include adaptive(575) {
					font-size: 29px;
				}
				@media screen and (max-height: 863px) {
					font-size: 30px;
				}
				@media screen and (max-height: 720px) {
					font-size: 22px;
				}
				@media screen and (max-width: 812px) and (orientation: landscape) {
					font-size: 14px;
					letter-spacing: -1px;
				}
				@media screen and (max-width: 568px) and (orientation: landscape) {
					font-size: 10px;
				}

				i {
					border-radius: 100%;
					background-color: #6666FF;
					width: 26px;
					height: 26px;
					@include adaptive(575) {
						width: 22px;
						height: 22px;
					}
					@media screen and (max-height: 720px) {
						width: 16px;
						height: 16px;
					}
					@media screen and (max-width: 812px) and (orientation: landscape) {
						width: 12px !important;
						height: 12px !important;
					}
				}
			}
		}

		&-percent {
			display: flex;
			align-items: center;
			color: #ffffff;
			padding-top: 30px;
			@include adaptive(767) {
				padding-top: 0;
			}

			.icon-font {
				color: #00ff99;
				font-size: 30px;
				transform: rotate(90deg);
				@include adaptive(1199) {
					font-size: 28px;
				}
				@include adaptive(767) {
					font-size: 26px;
				}
				@include adaptive(575) {
					font-size: 24px;
				}
				@media screen and (max-height: 720px) {
					font-size: 24px;
				}
				@media screen and (max-width: 812px) and (orientation: landscape) {
					font-size: 20px;
				}
			}

			p {
				font-weight: 500;
				line-height: 1.05;
				letter-spacing: -2.5px;
				color: #ffffff;
				font-size: 65px;
				@include adaptive(1199) {
					font-size: 60px;
				}
				@include adaptive(767) {
					font-size: 50px;
				}
				@include adaptive(575) {
					font-size: 40px;
				}
				@media screen and (max-height: 720px) {
					font-size: 40px;
				}
				@media screen and (max-width: 812px) and (orientation: landscape) {
					font-size: 35px;
				}
			}

			sub {
				position: relative;
				top: -5px;
				font-size: 20px;
				@include adaptive(1199) {
					font-size: 18px;
				}
				@include adaptive(767) {
					font-size: 16px;
				}
				@include adaptive(575) {
					font-size: 14px;
				}
				@media screen and (max-height: 720px) {
					font-size: 16px;
				}
				@media screen and (max-width: 812px) and (orientation: landscape) {
					font-size: 12px;
				}
				@media screen and (max-width: 568px) and (orientation: landscape) {
					font-size: 10px;
				}
			}
		}
	}
}

// SECTION detail :: END
