// SECTION graph :: START

.graph {
	&__wrapper {
		&-header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			@include fluid(padding-top, 1366px, 2732px, 31px, 62px);
			@include fluid(padding-bottom, 1366px, 2732px, 10px, 20px);
			@include fluid(padding-left padding-right, 1366px, 2732px, 47px, 94px);
			@include adaptive(1199) {
				padding-left: 30px;
				padding-right: 30px;
			}
			@include adaptive(767) {
				flex-wrap: wrap;
			}
			@include adaptive(575) {
				padding-left: 15px;
				padding-right: 15px;
			}

			> div {
				&:nth-of-type(1) {
					@include adaptive(767) {
						order: 2;
						width: 100px !important;
					}
				}

				&:nth-of-type(1),
				&:nth-of-type(3) {
					@include fluid(width, 1366px, 2732px, 192px, 384px);
				}

				&:nth-of-type(3) {
					@include adaptive(767) {
						order: 1;
						width: 100%;
						display: flex;
						justify-content: center;
						padding-bottom: 31px;
					}
				}

				&:nth-of-type(2) {
					flex: 1;
					width: 100%;
					min-width: 1px;
					max-width: 100%;
					@include adaptive(767) {
						order: 3;
						display: flex;
						justify-content: flex-end;
					}
				}
			}
		}

		&-body {
			display: flex;
			@include fluid(padding-left padding-right, 1366px, 2732px, 47px, 94px);
			@include fluid(padding-bottom, 1366px, 2732px, 50px, 100px);
			@include adaptive(1199) {
				padding-left: 30px;
				padding-right: 30px;
			}
			@include adaptive(1023) {
				flex-wrap: wrap;
			}
			@include adaptive(767) {}
			@include adaptive(575) {
				padding-left: 15px;
				padding-right: 15px;
			}

			&--left {
				display: flex;
				flex: 1;
				width: 100%;
				min-width: 1px;
				max-width: 100%;
				@include adaptive(575) {
					flex-wrap: wrap;
				}

				> div {
					&:nth-of-type(1) {
						display: flex;
						flex-direction: column;
						@include fluid(width, 1366px, 2732px, 145px, 290px);
						@include adaptive(1199) {
							width: 80px;
						}
						@include adaptive(1023) {
							width: 115px;
						}
						@include adaptive(575) {
							order: 2;
							width: 100%;
						}

						.graph__wrapper-body--top {
							display: flex;
							align-items: center;
							flex: 1;
							@include fluid(padding-top padding-bottom, 1366px, 2732px, 25px, 50px);
							@include adaptive(1199) {
								justify-content: flex-end;

								.graph__point {
									position: relative;
									top: 11px;
								}
							}
							@include adaptive(1023) {
								justify-content: center;
								left: 0;
							}
						}

						.graph__wrapper-body--bottom {
							height: auto;
						}
					}
					&:nth-of-type(2) {
						display: flex;
						flex-direction: column;
						flex: 1;
						width: 100%;
						min-width: 1px;
						max-width: 100%;
						@include fluid(padding-right, 1366px, 2732px, 70px, 140px);
						@include adaptive(1199) {
							padding-right: 0;
						}
						@include adaptive(575) {
							order: 1;
							width: 100%;
						}

						.graph__wrapper-body--top {
							@include fluid(padding-bottom, 1366px, 2732px, 23px, 46px);
						}
						.graph__wrapper-body--middle {
							@include fluid(min-height, 1366px, 2732px, 570px, 1140px);
							@include adaptive(767) {
								min-height: 500px;
							}
							@include adaptive(575) {
								min-height: 430px;
							}
						}

						.graph__wrapper-body--bottom {
							@include fluid(padding-top, 1366px, 2732px, 35px, 70px);
						}
					}
				}
			}

			&--right {
				@include fluid(width, 1366px, 2732px, 364px, 748px);
				@include fluid(padding-top, 1366px, 2732px, 42px, 84px);
				@include fluid(padding-right, 1366px, 2732px, 6px, 12px);
				@include adaptive(1199) {
					width: 300px;
					padding-right: 0;
				}
				@include adaptive(1023) {
					width: 100%;
				}
			}
		}
	}

	&__arrow {
		display: flex;
		align-items: flex-start;

		i {
			line-height: 1;
			color: #ffffff;
			@include fluid(font-size, 1366px, 2732px, 45px, 90px);
		}
	}

	&__tabs {
		display: flex;
		align-items: center;
		justify-content: center;

		li {
			display: flex;
		}

		&-btn {
			display: flex;
			background-color: #6666ff;
			@include fluid(width, 1366px, 2732px, 52px, 105px);
			@include fluid(height, 1366px, 2732px, 8px, 13px);
			@include fluid(margin-left margin-right, 1366px, 2732px, 9px, 18px);
			@include transition(background-color);

			&:hover,
			&.is-active {
				background-color: #ffffff;
				@include transition(background-color);
			}
		}
	}

	&__logo {
		display: flex;
		align-items: flex-start;
		@include fluid(width, 1366px, 2732px, 192px, 384px);

		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

	&__export {
		display: flex;
		flex-direction: column;
		@include adaptive(575) {
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
		}

		&-item {
			display: flex;
		}

		&-btn {
			display: flex;
			align-items: flex-start;
			@include fluid(margin-bottom, 1366px, 2732px, 20px, 40px);

			&--to,
			&--pdf {
				@include fluid(width, 1366px, 2732px, 52px, 105px);
				@include fluid(height, 1366px, 2732px, 17px, 35px);
				@include transition(background-color);

				&:hover {
					background-color: #ffffff;
					@include transition(background-color);
				}
			}

			&--to {
				align-items: center;
				justify-content: flex-end;
				background-color: #6666FF;
				@include fluid(padding, 1366px, 2732px, 2px, 5px);

				.icon-export {
					color: #1A1A1A;
					@include fluid(font-size, 1366px, 2732px, 12px, 25px);
				}
			}

			&--pdf {
				background-color: #b3b3b3;

				span {
					color: #000;
					font-weight: 500;
					line-height: 0.9;
					letter-spacing: -1px;
					@include fluid(font-size, 1366px, 2732px, 20px, 40px);
				}
			}

			&--excel {
				&:hover {
					.icon-excel {
						color: #ffffff;
						@include transition(color);
					}
				}

				.icon-excel {
					color: #B3B3B3;
					@include fluid(font-size, 1366px, 2732px, 51px, 103px);
					@include transition(color);
				}
			}
		}
	}

	&__btn {
		overflow: hidden;
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: calc((100% - (30px * 4)) / 5);
		@include adaptive(767) {
			max-width: calc((100% - (10px * 4)) / 5);
		}
		@include adaptive(575) {
			max-width: calc((100% - (5px * 4)) / 5);
		}

		&:hover,
		&.is-active {
			span {
				background-color: #ffffff;
				@include transition(background-color);
			}
		}

		span {
			width: 100%;
			background-color: #6666ff;
			height: 17px;
			//@include fluid(height, 1366px, 2732px, 17px, 34px);
			@include transition(background-color);
		}

		p {
			color: #fff;
			line-height: 1;
			letter-spacing: -1px;
			font-size: 20px;
			//@include fluid(font-size, 1366px, 2732px, 20px, 40px);
			@include adaptive(1199) {
				font-size: 16px;
			}
			@include adaptive(767) {
				font-size: 14px;
			}
			@include adaptive(575) {
				padding-top: 5px;
				font-size: 10px;
				text-align: center;
			}
		}

		&-wrapper {
			display: flex;
			justify-content: space-between;
		}
	}

	&__point {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		@include fluid(padding-left, 1366px, 2732px, 15px, 30px);
		@include adaptive(1199) {
			transform: rotate(-90deg);
		}
		@include adaptive(1023) {
			transform: rotate(0);
		}
		@include adaptive(575) {
			display: none;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			background-color: #6666ff;
			@include fluid(width, 1366px, 2732px, 7px, 13px);
		}

		p,
		span {
			color: #ffffff;
			font-weight: 500;
			letter-spacing: -1px;
		}

		p {
			display: flex;
			align-items: flex-start;
			line-height: 0.8;
			@include fluid(font-size, 1366px, 2732px, 55px, 119px);
			@include adaptive(1023) {
				font-size: 40px;
			}
			@include adaptive(767) {
				font-size: 35px;
			}

			sub {
				@include fluid(font-size, 1366px, 2732px, 20px, 40px);
				@include adaptive(1023) {
					font-size: 16px;
				}
				@include adaptive(767) {
					font-size: 14px;
				}
			}
		}

		span {
			line-height: 1;
			@include fluid(font-size, 1366px, 2732px, 20px, 40px);
			@include adaptive(1023) {
				font-size: 16px;
			}
			@include adaptive(767) {
				font-size: 14px;
			}
		}
	}

	&__info {
		&-title {
			display: flex;
			align-items: center;
			position: relative;
			@include fluid(margin-bottom, 1366px, 2732px, 29px, 59px);

			span {
				padding-right: 5px;
				font-weight: 500;
				line-height: 1.05;
				letter-spacing: -2.5px;
				color: #ffffff;
				@include fluid(font-size, 1366px, 2732px, 39px, 79px);
				@include adaptive(1199) {
					font-size: 33px;
				}
				@include adaptive(575) {
					font-size: 28px;
				}
			}

			i {
				line-height: 1;
				color: #ffffff;
				@include fluid(font-size, 1366px, 2732px, 30px, 59px);
				@include adaptive(1199) {
					font-size: 25px;
				}
				@include adaptive(575) {
					font-size: 22px;
				}
			}

			&--plus {
				i {
					position: relative;
					top: -5px;
					line-height: 1;
					@include fluid(font-size, 1366px, 2732px, 40px, 79px);
					@include adaptive(1199) {
						font-size: 33px;
					}
					@include adaptive(575) {
						font-size: 28px;
					}
				}
			}

			&:after {
				content: '';
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				height: 6px;
				background-color: #fff;
				@include adaptive(575) {
					height: 3px;
				}
			}
		}

		&-row {
			display: flex;
			flex-wrap: wrap;
		}

		&-col {
			width: 100%;
			max-width: 50%;
			@include fluid(margin-bottom, 1366px, 2732px, 33px, 67px);
			@include fluid(padding-left, 1366px, 2732px, 18px, 37px);
			@include adaptive(575) {
				max-width: 100%;
				padding-left: 15px;
			}

			h6,
			p span {
				color: #ffffff;
				font-weight: 500;
			}

			h6 {
				text-transform: uppercase;
				line-height: 0.9;
				letter-spacing: -1px;
				@include fluid(font-size, 1366px, 2732px, 20px, 40px);
				@include adaptive(1199) {
					font-size: 18px;
				}
				@include adaptive(575) {
					font-size: 16px;
				}
			}

			p {
				display: flex;
				align-items: center;
			}

			span {
				line-height: 0.9;
				@include fluid(font-size, 1366px, 2732px, 20px, 40px);
				@include adaptive(1199) {
					font-size: 18px;
				}
				@include adaptive(575) {
					font-size: 16px;
				}

				span {
					color: #ff0000;
				}
			}

			i {
				border-radius: 100%;
				background-color: #6666FF;
				@include fluid(width height, 1366px, 2732px, 15px, 30px);
				@include adaptive(575) {
					width: 12px;
					height: 12px;
				}
			}
		}

		&-block {
			@include fluid(margin-bottom, 1366px, 2732px, 5px, 10px);

			> div {
				display: flex;
				align-items: center;
				padding-bottom: 3px;

				span {
					@include fluid(width, 1366px, 2732px, 20px, 40px);
					@include fluid(height, 1366px, 2732px, 10px, 20px);
					@include fluid(margin-right, 1366px, 2732px, 5px, 11px);
				}
			}

			&--done {
				> div {
					span {
						background-color: #00FF99;
					}
				}
			}
			&--warning {
				> div {
					span {
						background-color: #FCEE21;
					}
				}
			}
			&--error {
				> div {
					span {
						background-color: #FF0000;
					}
				}
			}
			&--white {
				> div {
					span {
						background-color: #ffffff;
					}
				}
			}
			&--color {
				> div {
					span {
						background-color: #6666FF;
					}
				}
			}
			&--full {
				@include fluid(margin-bottom, 1366px, 2732px, 16px, 33px);

				> div {
					span {
						width: 100%;
						@include fluid(max-width, 1366px, 2732px, 122px, 245px);
						@include fluid(height, 1366px, 2732px, 17px, 34px);
					}
				}
			}

			&--wrapper {
				display: flex;
				@include fluid(padding-left, 1366px, 2732px, 18px, 37px);
				@include adaptive(575) {
					flex-wrap: wrap;
					padding-left: 15px;
				}
			}
			&--left,
			&--right {
				width: 100%;
				max-width: 50%;
				@include adaptive(575) {
					max-width: 100%;
				}
			}

			&--left {
				@include fluid(padding-top, 1366px, 2732px, 8px, 15px);
			}

			&--right {
				@include fluid(padding-top, 1366px, 2732px, 17px, 34px);
				@include fluid(padding-left, 1366px, 2732px, 34px, 68px);
				@include adaptive(575) {
					padding-left: 0;
				}
			}

			p {
				color: #ffffff;
				font-weight: 500;
				line-height: 0.9;
				letter-spacing: -1px;
				@include fluid(font-size, 1366px, 2732px, 20px, 40px);
				@include adaptive(1199) {
					font-size: 18px;
				}
				@include adaptive(575) {
					font-size: 16px;
				}
			}

			i {
				color: #ffffff;
				line-height: 1;
				@include fluid(font-size, 1366px, 2732px, 16px, 33px);
				@include adaptive(767) {
					font-size: 14px;
				}
			}
		}

		&-footer {
			display: flex;
			justify-content: flex-end;
			width: 100%;
		}

		&-logo {
			display: flex;
			align-items: flex-start;
			width: 40px;
			//@include fluid(width, 1366px, 2732px, 46px, 92px);

			img {
				display: block;
				max-width: 100%;
				height: auto;
			}
		}
	}

	.result__box {
		&-badge {
			i {
				background-color: #6666ff;
			}
		}
		&-title {
			line-height: 0.8;
			@include fluid(font-size, 1366px, 2732px, 60px, 119px);
			@include adaptive(1199) {
				font-size: 50px;
			}
			@include adaptive(767) {
				font-size: 40px;
			}
			@include adaptive(575) {
				font-size: 30px;
			}
		}

		&-progress {
			@include fluid(min-height, 1366px, 2732px, 70px, 140px);
			@include adaptive(1199) {
				min-height: 55px;
			}

			> div {
				&:nth-of-type(2) {
					overflow: hidden;
					align-items: center;
					@include fluid(width, 768px, 2732px, 150px, 340px);

					span,
					sub {
						color: #ffffff;
					}

					span {
						line-height: 0.7;
						@include fluid(font-size, 1440px, 2732px, 48px, 96px);
						@include adaptive(1199) {
							font-size: 35px;
						}
						@include adaptive(767) {
							line-height: 1.1;
							font-size: 30px;
						}
						@include adaptive(575) {
							font-size: 25px;
						}
					}

					sub {
						position: relative;
						line-height: 1;
						font-weight: 500;
						text-transform: uppercase;
						@include fluid(top, 1440px, 2732px, -8px, -15px);
						@include fluid(font-size, 1440px, 2732px, 20px, 40px);
						@include adaptive(1199) {
							font-size: 16px;
						}
						@include adaptive(767) {
							top: -3px;
							font-size: 14px;
						}
						@include adaptive(575) {
							font-size: 12px;
						}
					}
				}
			}
		}

		&-slider {
			> a{
				overflow: hidden;
			}
		}
	}

	#graph__node {
		overflow: hidden;
		position: relative;
		width: 100%;
		height: 100%;
	}
}

// SECTION graph :: END
