// SECTION graph :: START

.graph {
	height: 100vh;

	&__wrapper {
		&-header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			min-height: 85px;
			padding: 0 47px;
			@include adaptive(1199) {
				padding-left: 30px;
				padding-right: 30px;
			}
			@include adaptive(767) {
				flex-wrap: wrap;
				padding: 15px 30px;
			}
			@include adaptive(575) {
				padding-left: 15px;
				padding-right: 15px;
			}

			> div {
				&:nth-of-type(1) {
					@include adaptive(767) {
						order: 2;
						width: 100px !important;
					}
				}

				&:nth-of-type(1),
				&:nth-of-type(3) {
					width: 192px;
				}

				&:nth-of-type(3) {
					@include adaptive(767) {
						order: 1;
						width: 100%;
						display: flex;
						justify-content: center;
						padding-bottom: 15px;
					}
				}

				&:nth-of-type(2) {
					flex: 1;
					width: 100%;
					min-width: 1px;
					max-width: 100%;
					@include adaptive(767) {
						order: 3;
						display: flex;
						justify-content: flex-end;
					}
				}
			}
		}

		&-body {
			display: flex;
			height: calc(100vh - 85px);
			padding: 0 47px 15px;
			@include adaptive(1199) {
				padding-left: 30px;
				padding-right: 30px;
			}
			@include adaptive(767) {
				flex-wrap: wrap;
			}
			@include adaptive(575) {
				padding-left: 15px;
				padding-right: 15px;
			}

			&--left {
				display: flex;
				flex: 1;
				width: 100%;
				min-width: 1px;
				max-width: 100%;
				@include adaptive(767) {
					padding-bottom: 50px;
				}
				@include adaptive(575) {
					flex-wrap: wrap;
				}

				> div {
					&:nth-of-type(1) {
						display: flex;
						flex-direction: column;
						width: 145px;
						@include adaptive(1199) {
							width: 80px;
						}
						@include adaptive(1023) {
							width: 65px;
						}
						@include adaptive(575) {
							order: 2;
							width: 100%;
						}

						.graph__wrapper-body--top {
							display: flex;
							align-items: center;
							flex: 1;
							padding-top: 15px;
							padding-bottom: 15px;
							@include adaptive(1199) {
								justify-content: flex-end;

								.graph__point {
									position: relative;
									top: 11px;
								}
							}
							@include adaptive(1023) {
								justify-content: center;
								left: 0;
							}
						}

						.graph__wrapper-body--bottom {
							height: auto;
						}
					}

					&:nth-of-type(2) {
						display: flex;
						flex-direction: column;
						flex: 1;
						width: 100%;
						min-width: 1px;
						max-width: 100%;
						padding-right: 70px;
						@include adaptive(1199) {
							padding-right: 30px;
						}
						@include adaptive(1023) {
							padding-right: 15px;
						}
						@include adaptive(767) {
							padding-right: 0;
						}
						@include adaptive(575) {
							order: 1;
							width: 100%;
						}

						.graph__wrapper-body--top {
							padding-bottom: 30px;
						}

						.graph__wrapper-body--middle {
							height: calc(100% - (160px + 70px));
							@include adaptive(767) {
								min-height: 500px;
							}
							@include adaptive(575) {
								min-height: 430px;
							}
						}

						.graph__wrapper-body--bottom {
							padding-top: 30px;
						}
					}
				}
			}

			&--right {
				width: 364px;
				padding-top: 40px;
				@include adaptive(1199) {
					width: 300px;
				}
				@include adaptive(991) {
					width: 250px;
				}
				@include adaptive(767) {
					width: 100%;
				}
				@media screen and (max-height: 1100px) {
					padding-top: 0;
				}
			}
		}
	}

	&__arrow {
		display: flex;
		align-items: flex-start;

		i {
			line-height: 1;
			color: #ffffff;
			font-size: 40px;
			@include adaptive(575) {
				font-size: 35px;
			}
		}
	}

	&__tabs {
		display: flex;
		align-items: center;
		justify-content: center;

		li {
			display: flex;
		}

		&-btn {
			display: flex;
			background-color: #6666ff;
			width: 52px;
			height: 8px;
			margin-left: 9px;
			margin-right: 9px;
			@include transition(background-color);

			&:hover,
			&.is-active {
				background-color: #ffffff;
				@include transition(background-color);
			}
		}
	}

	&__logo {
		display: flex;
		align-items: flex-start;
		width: 192px;

		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

	&__export {
		display: flex;
		flex-direction: column;
		@include adaptive(575) {
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
		}

		&-item {
			display: flex;

			&:last-of-type {
				.graph__export-btn {
					margin-bottom: 0;
				}
			}
		}

		&-btn {
			display: flex;
			align-items: flex-start;
			margin-bottom: 20px;
			@include adaptive(575) {
				margin-bottom: 0;
			}

			&--to,
			&--pdf {
				width: 52px;
				height: 17px;
				@include transition(background-color);

				&:hover {
					background-color: #ffffff;
					@include transition(background-color);
				}
			}

			&--to {
				align-items: center;
				justify-content: flex-end;
				background-color: #6666FF;
				padding: 2px;

				.icon-export {
					color: #1A1A1A;
					font-size: 12px;
				}
			}

			&--pdf {
				background-color: #b3b3b3;

				span {
					color: #000;
					font-weight: 500;
					line-height: 0.9;
					letter-spacing: -1px;
					font-size: 20px;
				}
			}

			&--excel {
				&:hover {
					.icon-excel {
						color: #ffffff;
						@include transition(color);
					}
				}

				.icon-excel {
					color: #B3B3B3;
					font-size: 51px;
					@include transition(color);
				}
			}
		}
	}

	&__btn {
		overflow: hidden;
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: calc((100% - (30px * 4)) / 5);
		@include adaptive(1023) {
			max-width: calc((100% - (15px * 4)) / 5);
		}
		@include adaptive(767) {
			max-width: calc((100% - (10px * 4)) / 5);
		}
		@include adaptive(575) {
			max-width: calc((100% - (5px * 4)) / 5);
		}

		&:hover,
		&.is-active {
			span {
				background-color: #ffffff;
				@include transition(background-color);
			}
		}

		span {
			width: 100%;
			background-color: #6666ff;
			height: 17px;
			@include transition(background-color);
		}

		p {
			color: #fff;
			line-height: 1;
			letter-spacing: -1px;
			font-size: 20px;
			@include adaptive(1199) {
				font-size: 16px;
			}
			@include adaptive(1023) {
				font-size: 14px;
			}
			@include adaptive(575) {
				padding-top: 5px;
				font-size: 10px;
				text-align: center;
			}
		}

		&-wrapper {
			display: flex;
			justify-content: space-between;
		}
	}

	&__point {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 15px;
		@include adaptive(1199) {
			transform: rotate(-90deg);
		}
		@include adaptive(575) {
			display: none;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 7px;
			height: 100%;
			background-color: #6666ff;
		}

		p,
		span {
			color: #ffffff;
			font-weight: 500;
			letter-spacing: -1px;
		}

		p {
			display: flex;
			align-items: flex-start;
			line-height: 0.8;
			font-size: 55px;
			@include adaptive(1023) {
				font-size: 40px;
			}
			@include adaptive(767) {
				font-size: 35px;
			}

			sub {
				font-size: 20px;
				@include adaptive(1023) {
					font-size: 16px;
				}
				@include adaptive(767) {
					font-size: 14px;
				}
			}
		}

		span {
			line-height: 1;
			font-size: 20px;
			@include adaptive(1023) {
				font-size: 16px;
			}
			@include adaptive(767) {
				font-size: 14px;
			}
		}
	}

	&__info {
		&-title {
			display: flex;
			align-items: center;
			position: relative;
			margin-bottom: 30px;
			@media screen and (max-height: 1023px) {
				margin-bottom: 15px;
			}

			span {
				padding-right: 5px;
				font-weight: 500;
				line-height: 1.05;
				letter-spacing: -2.5px;
				color: #ffffff;
				font-size: 35px;
				@include adaptive(1199) {
					font-size: 32px;
				}
				@include adaptive(575) {
					font-size: 29px;
				}
				@media screen and (max-height: 863px) {
					font-size: 30px;
				}
			}

			i {
				line-height: 1;
				color: #ffffff;
				font-size: 30px;
				@include adaptive(1199) {
					font-size: 25px;
				}
				@include adaptive(575) {
					font-size: 22px;
				}
				@media screen and (max-height: 863px) {
					font-size: 25px;
				}
			}

			&--plus {
				i {
					position: relative;
					top: -5px;
					line-height: 1;
					font-size: 40px;
					@include adaptive(1199) {
						font-size: 33px;
					}
					@include adaptive(575) {
						font-size: 28px;
					}
					@media screen and (max-height: 863px) {
						top: -3px;
						font-size: 30px;
					}
				}
			}

			&:after {
				content: '';
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				height: 6px;
				background-color: #fff;
				@include adaptive(575) {
					height: 3px;
				}
			}
		}

		&-row {
			display: flex;
			flex-wrap: wrap;
		}

		&-col {
			width: 100%;
			max-width: 50%;
			margin-bottom: 33px;
			padding-left: 18px;
			@include adaptive(575) {
				max-width: 100%;
				padding-left: 15px;
			}
			@media screen and (max-height: 899px) {
				margin-bottom: 15px;
			}

			h6,
			p span {
				color: #ffffff;
				font-weight: 500;
			}

			h6 {
				text-transform: uppercase;
				line-height: 0.9;
				letter-spacing: -1px;
				font-size: 20px;
				@include adaptive(1199) {
					font-size: 18px;
				}
				@include adaptive(575) {
					font-size: 16px;
				}
				@media screen and (max-height: 863px) {
					font-size: 18px;
				}
			}

			p {
				display: flex;
				align-items: center;
			}

			span {
				line-height: 0.9;
				font-size: 20px;
				@include adaptive(1199) {
					font-size: 18px;
				}
				@include adaptive(575) {
					font-size: 16px;
				}
				@media screen and (max-height: 863px) {
					font-size: 18px;
				}

				span {
					color: #ff0000;
				}
			}

			i {
				border-radius: 100%;
				background-color: #6666FF;
				width: 15px;
				height: 15px;
				@include adaptive(575) {
					width: 12px;
					height: 12px;
				}
			}
		}

		&-block {
			margin-bottom: 5px;

			> div {
				display: flex;
				align-items: center;
				padding-bottom: 3px;

				span {
					width: 20px;
					height: 10px;
					margin-right: 5px;
				}
			}

			&--done {
				> div {
					span {
						background-color: #00FF99;
					}
				}
			}
			&--warning {
				> div {
					span {
						background-color: #FCEE21;
					}
				}
			}
			&--error {
				> div {
					span {
						background-color: #FF0000;
					}
				}
			}
			&--white {
				> div {
					span {
						background-color: #ffffff;
					}
				}
			}
			&--color {
				> div {
					span {
						background-color: #6666FF;
					}
				}
			}
			&--full {
				margin-bottom: 16px;

				> div {
					span {
						width: 100%;
						max-width: 122px;
						height: 17px;
					}
				}
			}

			&--wrapper {
				display: flex;
				padding-left: 18px;
				@include adaptive(575) {
					flex-wrap: wrap;
					padding-left: 15px;
				}
			}

			&--left,
			&--right {
				width: 100%;
				max-width: 50%;
				@include adaptive(575) {
					max-width: 100%;
				}
			}

			&--left {
				padding-top: 8px;
			}

			&--right {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				padding-top: 17px;
				padding-left: 34px;
				@include adaptive(575) {
					padding-left: 0;
				}

				> div {
					&:nth-of-type(1) {}
					&:nth-of-type(2) {
						display: flex;
						justify-content: flex-end;

						.graph__info-logo {
							position: relative;
							top: 15px;
							@media screen and (max-height: 1023px) {
								top: 0;
							}
						}
					}
				}
			}

			p {
				color: #ffffff;
				font-weight: 500;
				line-height: 0.9;
				letter-spacing: -1px;
				font-size: 20px;
				@include adaptive(1199) {
					font-size: 18px;
				}
				@include adaptive(575) {
					font-size: 16px;
				}
				@media screen and (max-height: 863px) {
					font-size: 18px;
				}
			}

			i {
				color: #ffffff;
				line-height: 1;
				font-size: 16px;
				@include adaptive(767) {
					font-size: 14px;
				}
			}
		}

		&-footer {
			display: flex;
			justify-content: flex-end;
			width: 100%;
		}

		&-logo {
			display: flex;
			align-items: flex-start;
			width: 40px;

			img {
				display: block;
				max-width: 100%;
				height: auto;
			}
		}
	}

	.result__box {
		margin-bottom: 0;

		&-badge {
			i {
				background-color: #6666ff;
			}
		}
		&-title {
			line-height: 0.8;
			font-size: 50px;
			@include adaptive(1199) {
				font-size: 40px;
			}
			@include adaptive(767) {
				font-size: 30px;
			}
			@include adaptive(575) {
				font-size: 25px;
				line-height: 1;
			}
		}

		&-progress {
			min-height: 60px;
			@include adaptive(1199) {
				min-height: 50px;
			}

			> div {
				&:nth-of-type(2) {
					overflow: hidden;
					align-items: center;
					width: auto;
					@include adaptive(1023) {
						width: 90px;
					}

					span,
					sub {
						color: #ffffff;
					}

					span {
						line-height: 0.7;
						font-size: 48px;
						@include adaptive(1199) {
							font-size: 35px;
						}
						@include adaptive(767) {
							line-height: 1.1;
							font-size: 30px;
						}
						@include adaptive(575) {
							font-size: 25px;
						}
					}

					sub {
						position: relative;
						line-height: 1;
						font-weight: 500;
						text-transform: uppercase;
						top: -8px;
						font-size: 20px;
						@include adaptive(1199) {
							font-size: 16px;
						}
						@include adaptive(767) {
							top: -3px;
							font-size: 14px;
						}
						@include adaptive(575) {
							font-size: 12px;
						}
					}
				}
			}
		}

		&-slider {
			> a{
				overflow: hidden;

				.icon-font {
					font-size: 42px;
				}
			}
		}
	}

	#graph__node {
		overflow: hidden;
		position: relative;
		width: 100%;
		height: 100%;
	}
}

// SECTION graph :: END
