// SECTION result :: START

-
	var resultData = [{
			color: 'purple',
			width: '75%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 40',
			num: '0978'},{
			color: 'purple',
			width: '75%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 40',
			num: '0978'},{
			color: 'purple',
			width: '75%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 40',
			num: '0978'},{
			color: 'purple',
			width: '50%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 38',
			num: '0425'},{
			color: 'purple',
			width: '50%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 38',
			num: '0425'},{
			color: 'purple',
			width: '50%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 38',
			num: '0425'},{
			color: 'orange',
			width: '25%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 38',
			num: '0122'},{
			color: 'orange',
			width: '25%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 38',
			num: '0122'},{
			color: 'orange',
			width: '25%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 38',
			num: '0122'},{
			color: 'red',
			width: '25%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 38',
			num: '079'},{
			color: 'red',
			width: '25%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 38',
			num: '079'},{
			color: 'red',
			width: '25%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 38',
			num: '079'},{
			color: 'purple',
			width: '75%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 40',
			num: '0978'},{
			color: 'purple',
			width: '75%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 40',
			num: '0978'},{
			color: 'purple',
			width: '75%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 40',
			num: '0978'},{
			color: 'purple',
			width: '50%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 38',
			num: '0425'},{
			color: 'purple',
			width: '50%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 38',
			num: '0425'},{
			color: 'purple',
			width: '50%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 38',
			num: '0425'},{
			color: 'orange',
			width: '25%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 38',
			num: '0122'},{
			color: 'orange',
			width: '25%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 38',
			num: '0122'},{
			color: 'orange',
			width: '25%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 38',
			num: '0122'}
	];

section#result.result
	.result__wrapper
		.result__wrapper-header
			a.result__logo(href="#" class="" title="")
				img(src="/img/logo-ccm.svg" alt="" title="")

		.result__wrapper-body

			.result__box-wrapper
				each val, idx in resultData
					div
						.result__box(class!= 'result__box--' + resultData[idx].color)
							p.result__box-badge
								i
								span!= resultData[idx].badge
							p.result__box-title!= resultData[idx].title

							.result__box-progress
								div
									.result__box-slider
										.result__box-slider--top(style="width:" + resultData[idx].width + ";")
										a(href="#" class="" title="" style="left:" + resultData[idx].width + ";")
											i.icon-font.icon-resize-width
										.result__box-slider--bottom
											each val, idx in [1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5]
												span
								div
									span!= resultData[idx].num
									sub!= "u"

		.result__wrapper-footer
			a.result__sublogo(href="#" class="" title="")
				img(src="/img/logo-wtext.svg" alt="" title="")


// SECTION result :: END
