// SCRIPT :: START

if(env)
	script(src="js/bundle.min.js")
else if(pageClassName === "p-landing")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js")
	script(src="js/landing.js")
else
	script(src="js/vendor.js")
	script(src="js/app.js")

// SCRIPT :: END
