// SECTION contact :: START

.contact {
	padding-top: 75px;
	padding-bottom: 75px;
	@include adaptive(767) {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	&__title {
		padding-bottom: 50px;
		letter-spacing: -1px;
		color: #ffffff;
		font-size: 110px;
		font-weight: bold;
		@include adaptive(1535) {
			font-size: 90px;
		}
		@include adaptive(1439) {
			font-size: 75px;
		}
		@include adaptive(1023) {
			font-size: 65px;
		}
		@include adaptive(767) {
			padding-bottom: 30px;
			letter-spacing: 0;
			line-height: 1.2;
			text-align: center;
			font-size: 50px;
		}
		@include adaptive(374) {
			font-size: 40px;
		}
	}

	&__subtitle {
		padding-bottom: 25px;
		text-transform: uppercase;
		color: #ffffff;
		font-size: 18px;
		@include adaptive(767) {
			font-size: 16px;
			text-align: center;
		}
	}
}

// SECTION contact :: END
