// SECTION description :: START

.description {
	padding-top: 75px;
	padding-bottom: 75px;
	@include adaptive(767) {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	&__title {
		padding-bottom: 50px;
		letter-spacing: -10px;
		color: #ffffff;
		font-size: 110px;
		font-weight: bold;
		@include adaptive(1535) {
			font-size: 90px;
		}
		@include adaptive(1439) {
			font-size: 75px;
		}
		@include adaptive(1023) {
			font-size: 65px;
		}
		@include adaptive(767) {
			padding-bottom: 30px;
			text-align: center;
			letter-spacing: 0;
			font-size: 50px;
		}
		@include adaptive(374) {
			font-size: 40px;
		}
	}

	&__text {
		color: #ffffff;
		font-size: 18px;
		line-height: 1.8;
		@include adaptive(767) {
			font-size: 16px;
		}

		&-0 {
			padding-bottom: 30px;
		}

		&-1 {
			@include adaptive(1023) {
				padding-bottom: 50px;
			}
		}
	}

	&__wrapper {
		display: flex;
		align-items: center;
		@include adaptive(1023) {
			flex-wrap: wrap;
		}

		&-left {
			width: 45%;
			padding-right: 20px;
			@include adaptive(1023) {
				width: 100%;
			}
			@include adaptive(767) {
				padding-right: 0;
			}
		}

		&-right {
			width: 55%;
			@include adaptive(1023) {
				width: 100%;
			}
		}
	}


}

// SECTION description :: END
